<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="reporter.Properties.Settings.carriercompanyConnectionString"
            connectionString="Data Source=KRAYUD-ПК\MESSAP;Initial Catalog=carriercompany;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>